<sn-form>

<form [formGroup]="registerForm" (ngSubmit)="register()">
   
  <sn-form-control [control]="registerForm.get('fullName')">
        <input type="text" placeholder="Full Name" formControlName="fullName" />
      </sn-form-control>
     
     
        <sn-form-control [control]="registerForm.get('email')">
            <input type="text" placeholder="Email" formControlName="email" />
          </sn-form-control>
  
          <sn-form-control [control]="registerForm.get('password')">
              <input type="text" placeholder="Password" formControlName="password" />
            </sn-form-control>
            <sn-form-control [control]="registerForm.get('confirmPassword')">
              <input type="text" placeholder="Password" formControlName="confirmPassword" />
            </sn-form-control>
        
            <div class="button-wrapper">
                <button type="submit">
                    Register              
                    </button>
              </div>
    
  </form> 
  
 
</sn-form>