<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
        <input type="text" placeholder="Full Name" formControlName="fullName">
        <div *ngIf="registerForm.get('fullName').invalid && registerForm.get('fullName').dirty">
            <span> This field is required </span>
          </div>
      </div>
        
  <div>
      <input type="text" placeholder="Email" formControlName="email">
      <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').dirty">
        <span> This field is required </span>
      </div>
    </div>
    <div>
      <!-- formControlName son directivas que ofrecen mucha información -->
      <input type="text" placeholder="Password" formControlName="password"> 
      <div *ngIf="registerForm.get('password').invalid  && registerForm.get('password').dirty">
          <span> This field is required </span>
        </div>
    </div>
    <button>Register</button>
  </form> 
  
  <!-- Transforma los campos en un json -->
  <p>{{ registerForm.value | json}}</p>